nav{
    background-color: green;
    padding: 14px 28px;
}
nav li{
    display: inline;
}
nav li a{
    color: white;
    text-decoration: none;
    padding: 0 28px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}